$LogoTextSize: 25px
$MainNavTextSize: 20px
$MainNavTextLH: 22px
$WebProjectH2Size: 60px
$aboutUsTextH2Size: 30px
$aboutUsTextPSize: 15px

$LogoTextColor: #212121
$WebProjectTextColor: #ffffff
$WebProjectButtonBgColor: #00897b
$ourServicesBgc: #e3fcf8
$ourServicesItemHoverBgc : #00897b
