$s-head: 226px 0px -226px 0px 57px 63px 283px 185px "sprite.png"
$s-internet: 0px 123px 0px -123px 62px 62px 283px 185px "sprite.png"
$s-logo: 0px 0px 0px 0px 226px 63px 283px 185px "sprite.png"
$s-smartphone_black: 226px 63px -226px -63px 56px 62px 283px 185px "sprite.png"
$s-smartphone_white: 62px 123px -62px -123px 56px 62px 283px 185px "sprite.png"
$s-transfer: 0px 63px 0px -63px 70px 60px 283px 185px "sprite.png"
