header
    background-image: url("../img/header.jpg")
    background-position: 0 100%
    background-size: cover

button
    cursor: pointer

.mainBgc
    background-color: $WebProjectTextColor

    .container
        +container

.main
    +row-flex()
    justify-content: space-between
    align-items: center
    padding-bottom: 25px

    .logo
        +col()
        +size(2)
        +sprite($s-logo)
        font-size: $LogoTextSize
        color: $LogoTextColor
        font-family: $Bold
        margin-top: 25px

    .nav
        +col()
        +size(9)
        +lg(display, none)
        font-size: $MainNavTextSize
        line-height: $congtactUsItemPLH
        color: $LogoTextColor
        font-family: $Bold
        margin-top: 25px
        text-align: end

        li
            display: inline-block
            margin-left: 30px
            cursor: pointer

            &:first-child
                margin-left: 0px

            &:hover
                color: $ourServicesItemHoverBgc

    nav.lg
        +col()
        +size(1)
        +lg(display, block)
        display: none
        font-size: $LogoTextSize
        cursor: pointer

.webProject
    margin: 0 auto
    padding: 180px 0 50px 0
    +container

    h2
        font-size: $WebProjectH2Size
        letter-spacing: 0.05em
        color: $WebProjectTextColor
        font-family: $Semibold
        text-align: center

    p
        font-size: $MainNavTextLH
        letter-spacing: 0.05em
        color: $WebProjectTextColor
        font-family: $Semibold
        text-align: center
        margin-top: 35px

    .webServeces
        margin-top: 85px
        display: block
        text-align: center

        button
            +md(margin-left, 0)
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $WebProjectTextColor
            font-family: $Bold
            margin: 30px 0 0 25px
            padding: 25px 45px
            box-sizing: border-box
            background-color: transparent
            border: 3px solid $WebProjectTextColor

            &:first-child
                margin-left: 0px

            &:hover
                border: 3px solid $WebProjectButtonBgColor
                background-color: $WebProjectButtonBgColor
                color: $WebProjectTextColor

    .down
        font-size: $LogoTextSize
        color: $WebProjectTextColor
        font-family: $Bold
        padding-top: 100px
        display: block
        text-align: center

.aboutUs .container
    +container
    padding: 100px 0 100px 0

    h2
        font-size: $aboutUsTextH2Size
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Bold
        text-align: center

    p
        font-size: $aboutUsTextPSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Regular
        margin: 32px auto 0
        max-width: 630px
        text-align: center

.aboutItems
    +row-flex()
    justify-content: space-around
    margin-top: 80px

    .aboutItem
        +col()
        +size(2.6)
        +size-lg(4)
        +size-md(6)
        +size-sm(10)
        margin-top: 30px

        .internet
            +sprite($s-internet)

        .transfer
            +sprite($s-transfer)

        .head
            +sprite($s-head)

        .img
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            margin: 0 auto

        h3
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            text-align: center
            margin-top: 40px

        p
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            text-align: center
            margin-top: 20px

.ourServices
    background-color: $ourServicesBgc

    .container
        +container
        padding: 100px 0

        h2
            font-size: $aboutUsTextH2Size
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Bold
            text-align: center

        p
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            margin: 35px auto 0
            max-width: 630px
            text-align: center

.ourServicesItems
    +row-flex()
    justify-content: space-around
    margin-top: 80px

    .ourServicesItem
        +col()
        +size(4)
        +size-lg(5)
        +size-md(7)
        +size-sm(10)
        padding: 55px 0 50px 0
        margin-top: 30px
        background-color: $WebProjectTextColor

        .phone
            +sprite($s-smartphone_black)

        .img
            font-size: $aboutUsTextPSize
            line-height: $LogoTextSize
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            margin: 0 auto

        h3
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            text-align: center
            margin-top: 36px

        p
            font-size: $aboutUsTextPSize
            line-height: $LogoTextSize
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            text-align: center
            margin-top: 25px
            padding: 0 50px

        button
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            display: block
            margin: 45px auto 0
            padding: 18px 12px
            border: 2px solid $LogoTextColor
            background-color: transparent

        &:hover
            background: $ourTeamItemSocialIconsColor
            box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.26);

            h3, p, button
                color: $WebProjectTextColor

            .img
                +sprite($s-smartphone_white)

            button
                border: 2px solid $WebProjectTextColor

.latestWorks .container
    +container
    padding: 110px 0 50px 0

    h2
        font-size: $aboutUsTextH2Size
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Bold
        text-align: center

    p
        font-size: $aboutUsTextPSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Regular
        margin: 35px auto 0
        max-width: 630px
        text-align: center

.latestWorksBtn
    display: block
    text-align: center
    margin-top: 70px

    button
        font-size: $aboutUsTextPSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Semibold
        padding: 18px 22px
        border: 2px solid $LogoTextColor
        background-color: transparent
        margin: 20px 0 0 20px

        &:first-child
            margin-left: 0px

    .active
        border: 2px solid $WebProjectButtonBgColor
        background-color: $WebProjectButtonBgColor
        color: $WebProjectTextColor

.latestWorksItems
    +row-flex()
    margin-top: 89px
    justify-content: space-around

    .latestWorksItem
        +col()
        +size(4)
        +size-lg(5)
        +size-md(7)
        +size-sm(10)
        margin-top: 30px
        position: relative
        cursor: pointer
        text-align: center

        .text
            display: none

        &:hover
            filter: brightness(40%)

            .text
                display: block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                z-index: 3

                h4
                    font-size: $LogoTextSize
                    color: $WebProjectTextColor

                p
                    font-size: $pricingPlanInTimeSize
                    color: $WebProjectTextColor


.latestWorksViewAll
    margin: 130px auto 0
    font-size: $aboutUsTextPSize
    line-height: $MainNavTextLH
    letter-spacing: 0.05em
    color: $WebProjectTextColor
    font-family: $Semibold
    display: block
    padding: 18px 52px
    background-color: $ourTeamItemSocialIconsColor
    border: 2px solid $ourTeamItemSocialIconsColor

    &:hover
        border: 2px solid $pricingPlanItemButtonborder
        background-color: transparent
        color: $pricingPlanItemButtonborder

.pricingPlan
    background-color: $pricingPlanBgc

    .container
        +container
        padding: 110px 0 70px 0

    h2
        font-size: $aboutUsTextH2Size
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Bold
        text-align: center

    p
        font-size: $aboutUsTextPSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Regular
        margin: 35px auto 0
        max-width: 630px
        text-align: center

.pricingPlanItems
    +row-flex()
    margin-top: 80px
    justify-content: center

    .pricingPlanItem
        +col()
        +size(4)
        +size-lg(6)
        +size-md(8)
        +size-sm(10)
        margin-top: 30px
        background-color: $WebProjectTextColor

        &:hover
            box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39)

        .imgFont
            background-image: url("../img/pricing_bg.png")
            text-align: center
            overflow: hidden

            .plan
                margin: 20px 0 35px 0
                font-size: $LogoTextSize
                letter-spacing: 0.05em
                color: $WebProjectTextColor
                font-family: $Regular

            .dollar
                position: relative
                bottom: 15px
                margin-top: 10px
                font-size: $LogoTextSize
                letter-spacing: 0.05em
                color: $WebProjectTextColor
                font-family: $Regular

            .price
                margin-right: 5px
                font-size: $pricingPlanPriceSize
                letter-spacing: 0.05em
                color: $WebProjectTextColor
                font-family: $Regular

            .inTime
                font-size: $pricingPlanInTimeSize
                line-height: $MainNavTextLH
                letter-spacing: 0.05em
                color: $WebProjectTextColor
                font-family: $Regular

        ul
            margin-top: 45px
            text-align: center

            li
                margin: 20px auto 0
                padding: 12px 0
                width: 178px
                border-bottom: 1px solid $pricingPlanItemLiBorder
                font-size: $pricingPlanInTimeSize
                line-height: $MainNavTextLH
                letter-spacing: 0.05em
                color: $LogoTextColor
                font-family: $Light

        .orderNow
            display: block
            box-sizing: border-box
            margin: 66px auto 63px
            padding: 20px 30px
            border: 2px solid $pricingPlanItemButtonborder
            background: transparent
            text-transform: uppercase
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold

            &:hover
                background: $ourTeamItemSocialIconsColor
                border: 2px solid $ourTeamItemSocialIconsColor
                color: $WebProjectTextColor

.ourTeam .container
    +container
    padding: 110px 0 70px 0

    h2
        font-size: $aboutUsTextH2Size
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Bold
        text-align: center

    p
        font-size: $aboutUsTextPSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Regular
        margin: 35px auto 0
        max-width: 630px
        text-align: center

.ourTeamItems
    +row-flex()
    margin-top: 80px
    justify-content: space-around

    .ourTeamItem
        +col()
        +size(4)
        +size-lg(4.1)
        +size-md(6)
        +size-sm(10)
        margin-top: 30px

        .isHe
            font-size: $MainNavTextSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            margin-top: 35px
            text-align: center

        .post
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            margin-top: 10px
            text-align: center

        .socialIcons
            margin-top: 30px
            text-align: center

            .socialIcon
                width: 50px
                height: 50px
                font-size: $aboutUsTextH2Size
                line-height: 50px
                letter-spacing: 0.05em
                color: $ourTeamItemSocialIconsColor
                background-color: $pricingPlanBgc
                font-family: $Regular
                border-radius: 10px
                display: inline-block
                margin-left: 20px
                cursor: pointer

                &:first-child
                    margin-left: 0px

                &:hover
                    color: $WebProjectTextColor
                    background-color: $congtactUsItemBgc

.blog
    background-color: $blogBgc

    .container
        +container
        padding: 110px 0 110px 0

        h2
            font-size: $aboutUsTextH2Size
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Bold
            text-align: center

        p
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            margin: 25px auto 0
            max-width: 630px
            text-align: center

.blogItems
    +row-flex()
    margin-top: 100px
    justify-content: center

    .blogItem
        +col()
        +size(6)
        +size-lg(8)
        +size-md(10)
        +lg(margin-bottom, 20px)

        i
            margin-right: 5px

        .seo
            +lg(margin-top, 0)
            font-size: $LogoTextSize
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            text-align: start
            margin: 60px 0 20px 0
            cursor: pointer

            &:hover
                color: $ourServicesItemHoverBgc

        .data
            font-size: $pricingPlanInTimeSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            text-align: start
            margin-right: 40px

        .develop
            font-size: $pricingPlanInTimeSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Semibold
            text-align: start

        .blogText
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $LogoTextColor
            font-family: $Regular
            text-align: start
            max-width: 440px
            margin: 22px 0 0 0

    .third
        order: 2
        +lg(order, 0)

    .four
        order: 3
        +lg(order, 0)

    .five
        order: 4
        +lg(order, 0)

    .six
        order: 5
        +lg(order, 0)

.blogMoreView
    display: block
    box-sizing: border-box
    margin: 125px auto 0
    padding: 25px 50px
    background-color: $ourTeamItemSocialIconsColor
    text-transform: uppercase
    font-size: $MainNavTextSize
    line-height: $MainNavTextLH
    letter-spacing: 0.05em
    color: $WebProjectTextColor
    font-family: $Bold
    border: 2px solid $ourTeamItemSocialIconsColor

    &:hover
        background-color: transparent
        color: $pricingPlanItemButtonborder
        border: 2px solid $pricingPlanItemButtonborder

.contactUs
    background-image: url("../img/footer.jpg")
    background-position: 0 100%
    background-size: cover

    .container
        +container
        padding: 125px 0 80px 0

        h2
            font-size: $aboutUsTextH2Size
            letter-spacing: 0.05em
            color: $WebProjectTextColor
            font-family: $Bold
            text-align: center

        p
            font-size: $aboutUsTextPSize
            line-height: $MainNavTextLH
            letter-spacing: 0.05em
            color: $WebProjectTextColor
            font-family: $Regular
            margin: 35px auto 0
            max-width: 630px
            text-align: center

.congtactUsItems
    +row-flex()
    justify-content: space-evenly
    margin-top: 70px

    .congtactUsItem
        +col()
        +size(3)
        +size-lg(4)
        +size-md(6)
        +size-sm(10)
        margin-top: 30px

        .imgfa
            width: 106px
            height: 106px
            font-size: $congtactUsItemFaSize
            line-height: 106px
            letter-spacing: 0.05em
            color: $WebProjectTextColor
            background-color: $congtactUsItemBgc
            font-family: $Regular
            text-align: center
            border-radius: 50px
            margin: 0 auto

        p
            font-size: $MainNavTextSize
            line-height: $congtactUsItemPLH
            letter-spacing: 0.05em
            color: $WebProjectTextColor
            font-family: $Semibold
            margin: 35px auto 0
            max-width: 630px
            text-align: center

.congtactUsFormItems
    +row-flex()
    justify-content: center
    margin-top: 43px

    .name
        +col()
        +size(5.3)
        +size-md(11)
        margin-top: 33px
        font-size: $MainNavTextSize
        line-height: $congtactUsItemPLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Semibold
        padding: 28px 18px
        border-radius: 10px

    .email
        +col()
        +size(5.3)
        +size-md(11)
        margin-top: 33px
        font-size: $MainNavTextSize
        line-height: $congtactUsItemPLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Semibold
        padding: 28px 18px
        border-radius: 10px

    .msg
        +col()
        +size(10.6)
        +size-lg(11)
        margin-top: 33px
        font-size: $MainNavTextSize
        line-height: $congtactUsItemPLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Semibold
        padding: 28px 18px
        border-radius: 10px
        height: 323px
        resize: none

    .send
        +col()
        +size(3)
        +offset-left(8)
        margin-top: 33px
        font-size: $MainNavTextSize
        line-height: $MainNavTextLH
        letter-spacing: 0.05em
        color: $LogoTextColor
        font-family: $Bold
        padding: 25px 0
        text-transform: uppercase
        border-radius: 10px

        &:hover
            background-color: darken($WebProjectTextColor, 12)
