include ./mixin/smartgrid.pug
doctype html
html
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ITDoctor
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="./css/style.css")
body
    +debug12
    header
        article.mainBgc
            main.container
                section.main
                    div.logo
                    ul.nav
                        li Home
                        li About
                        li Servicing
                        li Portfolio
                        li Blog
                        li Contact us
                        li
                            i.fas.fa-search
                    nav.lg
                        i.fas.fa-align-justify
        article.webProject
            section.container
                h2 Web development project
                p Very suitable to support all web development projects
                div.webServeces
                    button.ourService OUR SERVICES
                    button.active.hire HIRE IS NOW
                div.down
                    i.fas.fa-angle-down
    article.aboutUs
        section.container
            h2 About Us
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.aboutItems
                div.aboutItem
                    div.img.internet
                    h3 Awesome Icons
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                div.aboutItem
                    div.img.transfer
                    h3 One Page
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                div.aboutItem
                    div.img.head
                    h3 Fully Responsive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    article.ourServices
        section.container
            h2 Our Services
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.ourServicesItems
                div.ourServicesItem
                    div.img.phone
                    h3 Research
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Portfolio
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Support
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Documentation
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Development
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Design
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
    article.latestWorks
        section.container
            h2 Latest Works
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            div.latestWorksBtn
                button.all.active ALL
                button.web WEB DESIGN
                button.ui UI/UX DESIGN
                button.mockups MOCKUPS
            section.latestWorksItems
                div.latestWorksItem
                    img(src="./img/rectangle1.jpg")
                    div.text
                        h4 Hand Watch
                        p Web design
                div.latestWorksItem
                    img(src="./img/rectangle2.jpg")
                    div.text
                        h4 One Day Pass
                        p Mockups
                div.latestWorksItem
                    img(src="./img/rectangle3.jpg")
                    div.text
                        h4 Modal T-shirt
                        p Web design
                div.latestWorksItem
                    img(src="./img/rectangle4.jpg")
                    div.text
                        h4 Flask
                        p Mockups
                div.latestWorksItem
                    img(src="./img/rectangle5.jpg")
                    div.text
                        h4 Eplemost
                        p Ui/Ux Design
                div.latestWorksItem
                    img(src="./img/rectangle6.jpg")
                    div.text
                        h4 The kitchens
                        p Ui/Ux Design

            button.latestWorksViewAll VIEW ALL
    article.pricingPlan
        section.container
            h2 Pricing Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.pricingPlanItems
                div.pricingPlanItem
                    div.imgFont
                        h3.plan Free Trail
                        span.dollar $
                        spnan.price 00
                        span.inTime per month
                    ul
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.orderNow Order Now
                div.pricingPlanItem
                    div.imgFont
                        h3.plan Basic
                        span.dollar $
                        spnan.price 50
                        span.inTime per month
                    ul
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.orderNow Order Now
                div.pricingPlanItem
                    div.imgFont
                        h3.plan Ultimates
                        span.dollar $
                        spnan.price 99
                        span.inTime per month
                    ul
                        li 30 Free Trail
                        li 5 Free Projects
                        li PHP 5 Enabled
                        li 24/7 Suports
                    button.orderNow Order Now
    article.ourTeam
        section.container
            h2 Our Team Member
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.ourTeamItems
                div.ourTeamItem
                    img.imgBgc(src="./img/team1.jpg")
                    h3.isHe John Doe
                    p.post General Manager
                    div.socialIcons
                        div.socialIcon
                            i.fab.fa-facebook-f
                        div.socialIcon
                            i.fab.fa-twitter
                        div.socialIcon
                            i.fas.fa-comments
                        div.socialIcon
                            i.fab.fa-dribbble
                div.ourTeamItem
                    img.imgBgc(src="./img/team2.jpg")
                    h3.isHe Alexa Biru
                    p.post Office Director
                    div.socialIcons
                        div.socialIcon
                            i.fab.fa-facebook-f
                        div.socialIcon
                            i.fab.fa-twitter
                        div.socialIcon
                            i.fas.fa-comments
                        div.socialIcon
                            i.fab.fa-dribbble
                div.ourTeamItem
                    img.imgBgc(src="./img/team3.jpg")
                    h3.isHe Ronobir sing
                    p.post Admin
                    div.socialIcons
                        div.socialIcon
                            i.fab.fa-facebook-f
                        div.socialIcon
                            i.fab.fa-twitter
                        div.socialIcon
                            i.fas.fa-comments
                        div.socialIcon
                            i.fab.fa-dribbble
    article.blog
        section.container
            h2 Blog
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.blogItems
                div.blogItem
                    img.imgBgc(src="./img/seo1.jpg")
                div.blogItem
                    h3.seo SEO Quis Vestibulum
                    i.far.fa-calendar-alt
                    span.data 14.07.2017
                    i.far.fa-file
                    span.develop Development
                    p.blogText Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                div.blogItem.four
                    img.imgBgc(src="./img/seo2.jpg")
                div.blogItem.third
                    h3.seo SEO Quis Vestibulum
                    i.far.fa-calendar-alt
                    span.data 14.07.2017
                    i.far.fa-file
                    span.develop Development
                    p.blogText Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                div.blogItem.five
                    img.imgBgc(src="./img/seo3.jpg")
                div.blogItem.six
                    h3.seo SEO Quis Vestibulum
                    i.far.fa-calendar-alt
                    span.data 14.07.2017
                    i.far.fa-file
                    span.develop Development
                    p.blogText Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
            button.blogMoreView MORE VIEW
    article.contactUs
        section.container
            h2 Contact Us
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.congtactUsItems
                div.congtactUsItem
                    div.imgfa
                        i.fas.fa-map-marker-alt
                    p Nobinagar savar,Dhaka Bangladesh
                div.congtactUsItem
                    div.imgfa
                        i.fas.fa-phone.fa-rotate-90
                    p +8801743331996 +8801928737807
                div.congtactUsItem
                    div.imgfa
                        i.fas.fa-envelope
                    p quickmasud@gmail.com quickmasud@yahoo.com
            form.congtactUsFormItems
                input.name(type="text", placeholder="Your NAME")
                input.email(type="email", placeholder="Your Email")
                textarea.msg(placeholder="Write Message")
                button.send send






