include ./mixin/smartgrid.pug
doctype html
html
head
    meta(charset="utf-8")
    title ITDoctor
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="./css/style.css")
body
    //+debug12
    header
        article.mainBgc
            main.container
                section.main
                    div.logo
                    ul.nav
                        li Home
                        li About
                        li Servicing
                        li Portfolio
                        li Blog
                        li Contact us
                        li
                            i.fas.fa-search
        article.webProject
            section.container
                h2 Web development project
                p Very suitable to support all web development projects
                div.webServeces
                    button.ourService OUR SERVICES
                    button.active.hire HIRE IS NOW
                div.down
                    i.fas.fa-angle-down
    article.aboutUs
        section.container
            h2 About Us
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.aboutItems
                div.aboutItem
                    div.img.internet
                    h3 Awesome Icons
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                div.aboutItem
                    div.img.transfer
                    h3 One Page
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                div.aboutItem
                    div.img.head
                    h3 Fully Responsive
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    article.ourServices
        section.container
            h2 Our Services
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            section.ourServicesItems
                div.ourServicesItem
                    div.img.phone
                    h3 Research
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Portfolio
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Support
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Documentation
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Development
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
                div.ourServicesItem
                    div.img.phone
                    h3 Design
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.
                    button READ MORE
    article.latestWorks
        section.container
            h2 Latest Works
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            div.latestWorksBtn
                button.all ALL
                button.web WEB DESIGN
                button.ui UI/UX DESIGN
                button.mockups MOCKUPS
            section.latestWorksItems
                img.latestWorksItem(src="./img/maket-assets/rectangle1.jpg")
                img.latestWorksItem(src="./img/maket-assets/rectangle2.jpg")
                img.latestWorksItem(src="./img/maket-assets/rectangle3.jpg")
                img.latestWorksItem(src="./img/maket-assets/rectangle4.jpg")
                img.latestWorksItem(src="./img/maket-assets/rectangle5.jpg")
                img.latestWorksItem(src="./img/maket-assets/rectangle6.jpg")
            button.latestWorksViewAll VIEW ALL
